<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=" http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="doctor" class="spring2.Doctor2">
        <!-- <property name="qualification" value="MBBS"></property>-->
         <constructor-arg value="MD"></constructor-arg>
        <constructor-arg value="40"></constructor-arg>
      </bean>
      <bean id="nurse" class="spring2.Nurse2"></bean>

  </beans>